

.scroll {
  height: 500svh;
  width: 400svw;
  display: flex;  
  flex-wrap: nowrap;
  position: absolute;
  padding-left: 10%;
  top: 0;
}

.scroll-section-container {
  height: 150vh;
  overflow: hidden;
  position: relative;
}




.scroll-title-wrapper {
  display: flex;
  justify-content: right;
  flex-direction: row;
  align-items: center;
  width: 100svw;
  padding-right: 5%;
  padding-top: 7%;
  column-gap: 0.6%;
  padding-left: 10%;
  z-index: 1;
  position: absolute;
}



.scroll-wrap { 
  overflow-x: scroll;
}





@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.scroll .scroll-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100svh;
  opacity: 1;
  width: 40svw;
  padding-top: 5%;
  position: relative;


}

.scroll .scroll-item-wrapper:not(:first-child) {
  margin-left: -30svw; /* Adjust the value for desired overlap, '5em' is an example */
  z-index: 2;        /* Ensure newer items stack on top */
}



.scroll-title-wrapper span{  
  font-size: 10svh; 
  font-family: 'LeonardoFascia';
  font-weight: 700;
  margin: 0.5%;

}

.scrollSectionTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.scrollSectionTitle p {
  font-size: 14px;
  text-align: center;
  width: 80%;

}

.scroll-line {
  width: 0svw;
  height: 2px;
  background-color: black;
}

.scroll-title-image {
  width: 40%;
  height: 20%;
}


.scroll-item {
  display: flex;
  flex-direction: row;
  height: 30em;
  width: 30em;
  column-gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #1A1918;
  color: #D4CFC4;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

}

.scrollSectionTitle {
  font-family: 'LeonardoFascia';
  font-weight: 200;
  font-size: 20px;
}

.scrollSectionTitle h2{
  margin-bottom: 20px;
}



.sectionNumber h3 {
  font-family: 'LeonardoFascia';
  font-weight: 200;
  font-size: 65px;
  color: black;
}

.sectionNumber {
  margin-top: 5%;
  display: flex;
  justify-content: right;
  
}



/* Existing styles... */

/* Media queries for mobile */

@media (max-width: 768px) {
  .scroll {
    width: 100vw;
 
  }

  .scroll-section-container {
    height: 100vh;
  }


  .scroll-title-wrapper span {
    font-size: 5vh;
  }

  .scroll-title-wrapper {
    padding-top: 15%;
    height: 50%;

  }

  .scroll-wrap {
    overflow-x: auto; 
  }

  .scroll .scroll-item-wrapper:not(:first-child) {
    margin-left: -250px; /* Adjust the value for desired overlap, '5em' is an example */
    z-index: 2;        /* Ensure newer items stack on top */
  
  }

  .scrollSectionTitle p {
    font-size: 9px;

  }



  .scrollSectionTitle {
    text-align: center;
    font-size: 20px;
  }

  .scroll-title-image {
    width: 30%;  
    height: 25%;
  }

  .sectionNumber h3 {
    font-size: 40px;
  }


  .scroll .scroll-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100svh;
    padding-top: 50%;
    opacity: 1;
    width: 300px;
    position: relative;  
  
  
  }

  .scroll-item {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 250px;
    column-gap: 90px;
    justify-content: center;
    align-items: center;
    background-color: #1A1918;
    color: #D4CFC4;
    border-radius: 50%;
    box-shadow: none;
  
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .scroll {

    width: 100vw;
  }

  .scroll-section-container {
    height: 100vh;
  }


  .scroll-title-wrapper span {
    font-size: 5vh;
  }

  .scroll-title-wrapper {
    padding-top: 0%;
    height: 50%;

  }

  .scroll-wrap {
    overflow-x: auto; 
  }

  .scroll .scroll-item-wrapper:not(:first-child) {
    z-index: 2;        /* Ensure newer items stack on top */
  
  }

  .scrollSectionTitle p {
    font-size: 9px;

  }



  .scrollSectionTitle {
    text-align: center;
    font-size: 20px;
  }

  .scroll-title-image {
    width: 30%;  
    height: 25%;
  }

  .sectionNumber h3 {
    font-size: 40px;
  }


  .scroll .scroll-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100svh;
    opacity: 1;
    width: 300px;
    padding-top: 30%;
    position: relative;  
  
    
  }

  .scroll-item {
    display: flex;
    flex-direction: row;
    height: 300px;
    column-gap: 90px;
    justify-content: center;
    align-items: center;
    background-color: #1A1918;
    color: #D4CFC4;
    border-radius: 50%;
    box-shadow: none;
  
  }

}


