@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');


.featuredContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100svw;
  padding: 5%;

}

.featuredWork {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 100px;  
  grid-column-gap: 50px;
  width: 60svw; 

}


.largeBlog {
  grid-column: 1 / -1;  /* this will make it stretch across all columns */


}

.bottomSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}

.bottomSection button {
  width: 20%;
  padding: 1%;
  font-size: 2dsvh;
  background-color: transparent;
  border: 1px solid #D0263D;
  border-radius: 15em;
}

.featuredWork a {
  text-decoration: none;
}

.featured-work-title {
  height: 5em;
  width: 100%;
  font-family: 'LeonardoFascia';
  font-weight: 700;
  font-size: 30px; 
}

@media (max-width: 768px) {
  .featuredContainer {
    padding: 5%;
    padding-top: 2em;
    padding-bottom: 10%;
  }

  .featuredWork {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  /* Makes sure the content spans the full width on mobile screens */
    gap: 3.5em;     /* Provides spacing between child elements */
  }

  .largeBlog {
    grid-column: unset;  /* Resets the grid column stretching to default */
  }

  .bottomSection {
    padding-top: 10%;
  }

  .bottomSection button {
    width: 40%;  /* Increase the button width for better mobile UX */
    padding: 1.5%;  /* Slightly increased padding for mobile comfort */
    font-size: 10px;  /* Slightly increased font size for better readability */
  }

  .featured-work-title {
    font-size: 2vh;  /* Adjust title font size for smaller screens */
    text-align: left;
    padding: 1em 0;  /* Give some spacing above and below the title */
  }

    .featured-work-title h2 {

      padding-left: 1em 1em;  /* Give some spacing above and below the title */
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .featuredContainer {
    padding: 2%;
    padding-top: 2em;
    padding-bottom: 10%;
  }

  .featuredWork {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  /* Makes sure the content spans the full width on mobile screens */
    gap: 3.5em;     /* Provides spacing between child elements */
  }

  .largeBlog {
    grid-column: unset;  /* Resets the grid column stretching to default */
  }

  .bottomSection {
    padding-top: 10%;
  }

  .bottomSection button {
    width: 40%;  /* Increase the button width for better mobile UX */
    padding: 1.5%;  /* Slightly increased padding for mobile comfort */
    font-size: 10px;  /* Slightly increased font size for better readability */
  }

  .featured-work-title {
    font-size: 2vh;  /* Adjust title font size for smaller screens */
    text-align: center;
    padding: 1em 0;  /* Give some spacing above and below the title */
  }
}






  
     


    

  