.blog-lrg-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.blog-lrg-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    margin-left: 2%;
    width: 100%;
    height: 100%;


}

.blog-lrg-image-wrapper img {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;   
    object-fit: cover;
    transition: transform 1.5s ease;

  }

  .blog-lrg-image-wrapper img:hover {
    transform: scale(1.3);

  }
  
  .blog-lrg-image-wrapper {
    width: 400px;
    height: 250px; 
    position: relative;
    overflow: hidden;  



  }


.blog-lrg-title {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    color: black;
}

.blog-lrg-title button {
    width: 20%;
    text-decoration: none;
    padding: 1%;
    border-radius: 5em;
    background-color: transparent;
    border: 1px solid red;
    text-align: center;
}

.blog-lrg-title h2{
    font-family: 'LeonardoFascia';
    font-weight: 700;
    font-size: 30px;
}

.blog-lrg-title p{
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Satori';
    font-weight: 200;
    font-size: 17px;
}


.blog-lrg-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.2em;
}

.blog-lrg-category {
    display: flex;
    font-family: 'Satori';
    font-weight: 200;
    flex-direction: row;
    column-gap: 2%;
    color: #D14836;
}


.blog-lrg-category h4{
    font-weight: 200;

}

@media (max-width: 768px) {
  .blog-lrg-container {
    flex-direction: column;
    padding: 1em;  /* Add some padding around the container for mobile */
  }

  .blog-lrg-wrapper {
    flex-direction: column;
    row-gap: 1.5em;  /* Introducing some gap between the image and the content */
  }

  .blog-lrg-image-wrapper {
    width: 40vw;  /* Set the width relative to viewport width */
    height: 40vw;  /* Keeping it square */
    margin-bottom: 1em;  /* Some spacing between image and the content below */
  }

  .blog-lrg-title {
    row-gap: 0.5em;  /* Reduced gap for mobile */
    justify-content: center;
    align-items: center;
  }
  
  .blog-lrg-title h2 {
    text-align: left;
    font-size: 20px;  /* Slightly smaller text size for mobile */
    width: 90%;
  }

  .blog-lrg-title p {
    font-size: 10px;  /* Slightly smaller description size for mobile */
    width: 90%;
    text-align: left;
  }

  .blog-lrg-title button {
    width: 50%;  /* Making the button wider for better mobile UX */
    margin: 0 auto;  /* Center the button */
    padding: 5%;  /* Slightly more padding for better touch targets on mobile */
    font-size: 0.9em;  /* Adjusting font size for the button */
  }

  .blog-lrg-info-wrapper {
    align-items: center;  /* Center align content on smaller screens */
  }

  .blog-lrg-category {
    justify-content: left;  /* Centering category for aesthetic */
    column-gap: 1%;  /* Reducing gap between category and date */
    width: 90%;
  }

  .blog-lrg-category h4, .blog-lrg-category p {
    text-align: center;
    font-size: 14px;  /* Slightly smaller text size for mobile */
  }

  .blog-lrg-title p{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: 'Satori';
    font-weight: 200;
    font-size: 10px;
}

}

