



.quote-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 200svh;
    margin-top: 20%;
    position: relative;
    overflow: hidden;
    padding-bottom: 10%;

}
  


.quote-section-wrapper {
  display: flex;   
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  width: 100%;
  height: 100%; 
   
}

.art-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

}

.flower2Background {
  background-color: #D0263D;
  position: absolute;
  width: 2.5%;
  left: 10%;
  top: 60%;
  border-radius: 50%;
  height: 2%;
  display: flex;
  z-index: 1;
  filter: blur(5px)
}

.quote-div {
  color: white;
  font-family: 'Satori';
  font-size: 25px;
  width: 50%;
  height: 35%;
  text-align: center;
}

.background-circle {
  width: 200px;  
  height: 200px;
  border-radius: 50%; 
  margin-bottom: 55%; 
  position: absolute;
  z-index: -4;
  background-color: #1A1918;
}




.artImage {
  top: 13%; 
  width: 50%;  
  height: 20%;
  opacity: 1;
  position: absolute;

}


.artImage2 {
  top: 60%;
  width: 40%;  
  left: 0;
  height: 10%;
  position: absolute;
  z-index: 1;
  filter: blur(4px);

}
   



/* Existing Global Styles */
body, html {
  font-size: 16px; /* Establish a base font-size for REM calculations */
}


@media (max-width: 768px) {
  .infoSection2Container {
    margin-top: 0%;
    padding-bottom: 50%;

  }

  .infoSection2Wrapper {
    margin-top: 0%;
  }


  .quote-div {
    font-size: 15px;  /* Adjust based on your preference */
    width: 90%;
    margin: 0 auto;
  }
  

.background-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  position: absolute;
  z-index: -4;
  background-color: #1A1918;
}



}


@media (min-width: 769px) and (max-width: 1024px){
  .infoSection2Container {
    margin-top: 0%;
    padding-bottom: 50%;

  }

  .infoSection2Wrapper {
    margin-top: 0%;
  }


  .quote-div {
    font-size: 18px;  /* Adjust based on your preference */
    width: 90%;
    margin: 0 auto;
  }
  

.background-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  position: absolute;
  z-index: -4;
  background-color: #1A1918;
}



}

@media (min-width: 1025px) and (max-width: 1365px){
  .infoSection2Container {
    margin-top: 0%;
    padding-bottom: 50%;

  }

  .infoSection2Wrapper {
    margin-top: 0%;
  }


  .quote-div {
    font-size: 18px;  /* Adjust based on your preference */
    width: 90%;
    margin: 0 auto;
  }
  

.background-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  position: absolute;
  z-index: -4;
  background-color: #1A1918;
}



}







  







