@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');


.infoSectionContainer4 {
    height: 100svh;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100svw;
    overflow: hidden;


}

.infoSectionWrapper4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    position: relative;
    white-space: nowrap;
 

}


.infoSectionWrapper4-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    white-space: nowrap;


}

.infoSectionWrapper4 h2 {
    font-size: 7svw;
    color: #D0263D;
    font-family: 'LeonardoFascia';
    font-weight: 200;
  
}

.fish-woman {
    width: 150%;
    height: 150%;
    right: -26%;
    top: 0;
    position: absolute;

}


.art-circle {
    --viewport-size: calc(min(100vh, 100vw)); /* get the smaller of vh and vw */
    position: relative;
    width: calc(25 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    height: calc(25 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    background-color: #D0263D;
    border-radius: 50%;
    overflow: hidden;


}
  

.scroll-text-2 {
    z-index: -10;

}

.scroll-text {
    z-index: -10;

}
   

#h2-3 {
    z-index: -10;
}

#h2-3 {
    z-index: -10;
}



@media (max-width: 768px) {

    .infoSectionContainer4 {
        height: 50vh;  /* Use vh (viewport height) instead of svh */
        width: 100vw;   /* Use vw (viewport width) instead of svw */
    }

    .infoSectionWrapper4, .infoSectionWrapper4-2 {
        row-gap: 20px;   /* Reduced the gap between rows for better space management */
    }

    .infoSectionWrapper4 h2 {
        font-size: 8vw;   /* Adjusted font size for better readability */
    }

    .mushroom, .mushroom-2 {
        width: 40%;    /* Adjusted size to fit mobile */
    }

    .mushroom {
        top: 5%;     /* Adjusted positioning */
    }

    .mushroom-2 {
        top: 70%;     /* Adjusted positioning */
        left: 30%;    /* Adjusted positioning */
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .infoSectionContainer4 {
        height: 50vh;  /* Use vh (viewport height) instead of svh */
        width: 100vw;   /* Use vw (viewport width) instead of svw */
    }

    .infoSectionWrapper4, .infoSectionWrapper4-2 {
        row-gap: 20px;   /* Reduced the gap between rows for better space management */
    }

    .infoSectionWrapper4 h2 {
        font-size: 8vw;   /* Adjusted font size for better readability */
    }

    .mushroom, .mushroom-2 {
        width: 40%;    /* Adjusted size to fit mobile */
    }

    .mushroom {
        top: 5%;     /* Adjusted positioning */
    }

    .mushroom-2 {
        top: 70%;     /* Adjusted positioning */
        left: 30%;    /* Adjusted positioning */
    }
  
  }
  

   

   