.blogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  height: 100vh;
  row-gap: 40px;
}

.blogSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  width: 1500px;
}

.largeDiv {
  grid-column: span 3;
  grid-row: span 1;

}

.mediumDiv {
  grid-column: span 2;
  grid-row: span 1;
}

.smallDiv {
  grid-column: span 1;
  grid-row: span 1;
}
  

.searchBar {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.buttonSection {
  display: flex;
  flex-direction: space-between;
  column-gap: 950px;
}

.buttonSection input {
    border: none;
    background-color: white;
    border-radius: 105px;
    padding: 15px;
    font-size: 20px;
  
}

.buttonSection button {
    border: none;
    background-color: white;
    border-radius: 105px;
    padding: 15px;
  
}


.buttonSection select {
    border: none;
    background-color: white;
    border-radius: 20px;  
    padding: 20px;
    font-size: 20px;
  
}

input:focus {
    outline: none;
}

#searchIcon {
    width: 20px;
    height: 20px;
}    

/* Media query for max-width 599px */
@media (max-width: 599px) {
  .blogContainer {
    padding: 20px;
    height: 100%;
  }

  .blogSection {
    display: grid;
    grid-template-columns: 1fr; /* Only one column on small screens */
    grid-gap: 40px; /* Reduced gap */
    width: 100%; /* Full width on small screens */
  }

  .largeDiv,  
  .mediumDiv,
  .smallDiv {
    grid-column: span 1; /* All divs span one column on small screens */
    grid-row: span 1; 
  }

  .searchBar,
  .buttonSection {
    flex-direction: column; /* Stack the input and button vertically */
    row-gap: 20px; /* Space between input and button */
  }

  .searchBar {
    position: relative; /* Position relative so the icon is relative to this container */
  }

  #searchIcon {
    position: absolute; /* Position absolute to allow placement in relation to the parent container */
    width: 15px; /* Smaller icon */
    height: 15px;
    right: 10px; /* Position the icon from the right */
    top: 50%; /* Center the icon vertically */
    transform: translateY(-50%); /* Further centering the icon vertically */
  }

  .buttonSection {
    column-gap: 0; /* No column gap on small screens */
  }

  .buttonSection input,
  .buttonSection button,
  .buttonSection select {
    font-size: 18px; /* Smaller text on small screens */
    padding: 10px; /* Reduced padding */
  }
}


