@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');

@font-face {
  font-family: 'Satori';
  src: url('./fonts/Satoshi-Light.woff') format('woff')
}


.featuredContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
 
  }
  
  .featuredWork {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 90px;
    width: 70%;
  
  }

  
  .largeDiv { 
    grid-column: span 3;
    grid-row: span 1;
    border-radius: 20px;
    height: 500px;
  
  }
  
  .mediumDiv {
    grid-column: span 2;
    grid-row: span 1;  
    border-radius: 600px;
  }
  
  .smallDiv {
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 40px;

    
  }
    
  
  .searchBar {
      display: flex;
      flex-direction: row;
      column-gap: 15px;
  }
  
  .buttonSection {
    display: flex;
    flex-direction: space-between;
    column-gap: 950px;
  }
  
  .buttonSection input {
      border: none;
      background-color: white;
      border-radius: 105px;
      padding: 15px;
      font-size: 20px;
      text-decoration: none;
    
  }
  
  .buttonSection button {
      border: none;
      background-color: white;
      color: black;
      border-radius: 105px;
      padding: 15px;
  
      
    
  }
  
  
  .buttonSection select {
      border: none;
      background-color: white;
      border-radius: 20px;  
      padding: 20px;
      font-size: 20px;
     
    
  }
  
  input:focus {
      outline: none;
  }  
  
  #searchIcon {
      width: 20px;
      height: 20px;
  }    
  

  .featuredWork a{
    text-decoration: none;
    color: black;
    font-family: 'Satori';
    font-weight: 100;
    padding: 5%;
  }




  .bottomSection button {
    width: 350px;
    outline: none;
    border: 2px solid #ff5248;  
    background-color: transparent;
    color: black;
    height: 50px;
    border-radius: 250px;
    font-size: 15px;
    transition: background-color 1s ease;
  }

  .bottomSection button:hover {
    background-color:#ff5248;
     color: black;
      
    }

  