@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');

@font-face {
    font-family: 'LeonardoFascia';
    src: url('./fonts/LeonardoFascia_Web-M-Trial.woff') format('woff')
}

@font-face {
  font-family: 'Satori';
  src: url('./fonts/Satoshi-Light.woff') format('woff')
}


.infoSectionContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%; 
    width: 100vw;
    padding: 5%;
    height: 100vh;
}

.infoSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.imagesContainer{
  width: 100%;
  height: 100%;

}

.imagesContainer img {
  margin-left: 15%;
  height: 100%;
}


#line {
    width: 90%;
    height: 1px;
    margin-top: 1.2%;
    margin-left: 50px;
    background-color: black;
    align-items: center;

}



  
  .sectionInfo {
    width: 65%;
    display: flex;
    flex-direction: column;
  }



  .imageBackground {
    position: absolute;
    top: 40%;
    margin-left: 85%;
    width: 34%;
    height: 30%;
    background-color: #ff5248;
    overflow: hidden;
    border-radius: 450px;
  }

.imageBackground img{
  position: absolute;
  width: 200%;
  height: 200%;
  margin-left: -35%;

  
}


.contactButton {
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 column-gap: 20px;


}

.contactButton h3{
  font-family: '';
  font-weight: 300;

  font-size: 25px;
 
 
 }

.contactBtn {
  width: 170px;
  outline: none;
  border: 2px solid #ff5248;
  background-color: transparent;
  height: 40px;
  border-radius: 250px;
  font-size: 16px;
  transition: background-color 1s ease;
}



.contactBtn:hover {
background-color:#ff5248;
 color: white;
  
}


  

  

.infoSectionHeadline{  
    padding: 15px;
    padding-top: 15%;
    width: 45%;
    margin-right: 20%;
    opacity: 1;
    font-family: 'LeonardoFascia';
    font-weight: 200;
    text-align: left;
    font-size: 300px;
    color: #E0DACF;

}

.secondaryText p {
  font-family: 'Satori';
  font-size: 25px;
}

.secondaryText {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 70%;

}
  

  



/* mobile styles */

