@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');

@font-face {
    font-family: 'LeonardoFascia';
    src: url('./fonts/LeonardoFascia_Web-M-Trial.woff') format('woff')
}

.infoSection2Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 200svh;
    padding-bottom: 200px;



}

.infoSection2Wrapper {
  display: flex;   
  flex-direction: column;
  justify-content: center;   
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 5;
   
}

.circle {
  top: 150px;
  right: 340px;
  width: 1000px;
  height: 1000px;
  background-color: black;
  z-index: -100;
  position: absolute;
  border-radius: 100%;

}

.artImage { 
  right: -60px;
  top: -160px;
  opacity: 50%;
  position: absolute;
  width: 1800px;
  height: 1800px;
  z-index: 5;

}
  
.artImage2 {   
  left: 150px;
  opacity: 20%;
  top: -400px;
  position: absolute;
  width: 1700px;
  height: 1700px;
  z-index: 1;

}
     



.infoSection2Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  white-space: nowrap;
  width: 100%;
  margin-top: 10%;
  height: 300px;
  z-index: 50; 
  overflow: hidden;
  text-align: right;
  position: relative;
}


.infoSection2Title p{
  font-family: 'Noto sans', sans-serif;
  font-weight: 100;
  position: absolute;
}


.infoSection2Title h2{
  font-family: 'LeonardoFascia';
  font-weight: 200;
  position: absolute;
  font-weight: 400;
  font-size: 300px;  
  color: white;
  position: absolute;

}


.infoSection2Artwork {
  position: relative;
  margin-bottom: 50%;
  z-index: -100;
  background-color: black;


}




/* mobile styles */

@media (max-width: 599px) {

  .infoSection2Container {
    display: flex;

    justify-content: center;
    align-items: center;
 

 




}

.circle {
  top: -50px;
  margin-bottom: 50%;
  right: -120px;
  width: 250px;
  height: 250px;
  background-color: black;

  overflow: hidden;
  z-index: -100;

}





.artImage { 
  right: -210px;
  top: -90px;
  opacity: 50%;
  position: absolute;
  width: 450px;
  height: 450px;
  z-index: 5;

}
  
   
}





