
@font-face {
    font-family: 'Satori';
    src: url('./fonts/Satoshi-Light.woff') format('woff')
  }



.infoSectionContainer5 {
    display: flex;
    width: 100vw;
    height: 300vh;
    background-color: black;
}

.infoSectionWrapper5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.infoSection5Content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
 


.infoSectionWrapper5 img {
    width: 80%;
    height: 450px;
    object-fit: cover;
    border-radius: 100%;
}

.peopleImage {
    width: 25%;
}

.peopleTitle {
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  
}

.peopleTitle h2{
   font-size: 55px;
   font-family: 'LeonardoFascia';
   font-weight: 200;
}

.peopleTitle p {
    width: 90%;
    font-size: 25px;
    width: 90%;
    font-family: 'Satori';
  
    
}

.peopleTitle button {
    width: 120px;
    outline: none;
    border: 2px solid #ff5248;
    background-color: transparent;
    height: 40px;
    border-radius: 250px;
    font-size: 15px;
    font-family: 'Satori';
    color: white;
    transition: background-color 1s ease;

}

.peopleTitle button:hover {
 background-color: #ff5248;

}
