.header {
    position: sticky;
    top: 0;
    z-index: -1;
}




  
  infoSection-wrapper {
    position: relative;
  }

  
  .background {
    z-index: -10;
  }
  
  .infoSection {
    position: sticky;
    top: 0;
    z-index: 10;
    /* InfoSection styles */
  }

  .infoSection2 {
    position: sticky;
    top: 0;
    z-index: 10;
    /* InfoSection styles */
  }


  .workSection {
    position: sticky;
    top: 0;
    z-index: 10;
    /* InfoSection styles */
  }