@font-face {
  font-family: 'LeonardoFascia';
  src: url('./fonts/LeonardoFascia_Web-M-Trial.woff') format('woff')
}




.scroll-wrap {
  background-color: black;

}



.scroll {
  height: 80svh;
  padding: 20vh 0;
  width: 400%;
  display: flex;  
  flex-wrap: nowrap;

}

.scroll .scroll-item {  
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  will-change: transform;
}



.scroll .scroll-item-image {
  background-size: cover;
  background-position: center;
  transform-origin: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  will-change: transform;
  transform: scale(0.9);
  transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;

}

.scroll .scroll-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}

.scroll .scroll-item {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60%;

  
}




.titleScrollItem h2{
font-size: 50px;
width: 70%;
font-family: 'LeonardoFascia';
font-weight: 200;

}

.titleScrollItem {
padding: 2%;

}



.scroll-item-wrapper {
width: 50px;

}

.titleWrapper {
width: 100%;
}

.scroll-item h2 {
color: white;
}

.scroll-line {
background-color: white;
height: 2px;
width: 100%;
z-index: 100;
position: absolute;
}

.sectionNumber h3 {
color: white;
font-size: 65px;
font-family: 'LeonardoFascia';
font-weight: 200;
}

.sectionNumber {
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
width: 60px;
height: 60px;
border-radius: 50%;
}

.scrollWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: right;
row-gap: 50px;

}




.scroll-image img{
width: 50%;
height: 100%;
border-radius: 50%;
}

.scrollSectionTitle h2{
color: white;
font-size: 65px;
font-family: 'LeonardoFascia';
font-weight: 200;
}


@media (max-width: 599px) {

  .scroll .scroll-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
 
  }

  .scroll .scroll-item {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60%;

    
  }
  

  .scroll .scroll-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    transform: translateX(0); 
    width: 100%; 
  }

  .scroll .scroll-item-image {
    width: 60%;    
    height: 40%; 
    margin: 0 auto 20px auto; 
  }

  .scroll .scroll-item-info .scroll-info-title {
    line-height: 6vw;
    padding: 5%;
    font-family: 'LeonardoFascia';
    font-weight: 200;
    font-size: 50px; 
    -webkit-font-smoothing: antialiased;
  }

  .scroll {
    padding: 20vh 0;
    width: 400%;
    display: flex;
    justify-content: center; 
    flex-wrap: nowrap;
    display: flex;
    height: 100vh;
  }


.titleScrollItem h2{
 font-size: 50px;
 width: 70%;
 font-family: 'LeonardoFascia';
 font-weight: 200;
 
}

.titleScrollItem {
 padding: 2%;
  
 }

 .galleryitem



.scroll-item-wrapper {
  width: 50px;

}

.titleWrapper {
  width: 100%;
}

.scroll-item h2 {
  color: white;
}

.scroll-line {
  background-color: white;
  height: 2px;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.sectionNumber h3 {
  color: white;
  font-size: 65px;
  font-family: 'LeonardoFascia';
  font-weight: 200;
}

.sectionNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.scrollWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  row-gap: 50px;

}




.scroll-image img{
  width: 50%;
  height: 100%;
  border-radius: 50%;
}

.scrollSectionTitle h2{
  color: white;
  font-size: 65px;
  font-family: 'LeonardoFascia';
  font-weight: 200;
}

  
}

@media (min-width: 600px) and (max-width: 1024px) {

  .scroll {
    padding: 20vh 0;
    width: 300%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
  }

  .scroll .scroll-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .scroll .scroll-item {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40%;
  }

  .scroll .scroll-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(0);
    width: 80%;
  }

  .scroll .scroll-item-image {
    width: 60%;
    height: 40%;
    margin: 0 auto 20px auto;
  }

  .scroll .scroll-item-info .scroll-info-title {
    line-height: 4vw;
    padding: 5%;
    font-family: 'LeonardoFascia';
    font-weight: 200;
    font-size: 60px;
    -webkit-font-smoothing: antialiased;
  }

  .titleScrollItem h2{
    font-size: 60px;
    width: 70%;
    font-family: 'LeonardoFascia';
    font-weight: 200;
  }

  .scrollSectionTitle h2{
    color: white;
    font-size: 40px;
    font-family: 'LeonardoFascia';
    font-weight: 200;
  }
}


