@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');




.infoSectionContainer{
    display: flex;
    justify-content: center;
    width: 100svw;
    margin-top: 30%;
    padding: 5%;
    height: 100svh;

}

.infoSectionWrapper {
  padding: 10%;
  display: flex;
  position: relative;
  column-gap: 70px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.imagesContainer{
  width: 100%;
  height: 100%;

}

.imagesContainer img {
  margin-left: 15%;
  height: 100%;
}

.secondaryTextContainer {
  display: flex;
  flex-direction: column;
  row-gap: 65px;
  width: 55%;

}


  .sectionInfo {
    width: 65%;
    display: flex;
    flex-direction: column;
  }

  .infoSectionImageSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }



  .imageBackground {
    --viewport-size: calc(min(100vh, 100vw)); /* get the smaller of vh and vw */
    position: relative;
    width: calc(8 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    height: calc(8 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    background-color: #D0263D;
    border-radius: 50%;
    overflow: hidden;
}

  .imageBackground img {
  position: absolute;
  left: -35%;
  opacity: 55%;
  top: 25%;
  width: 200%;
  height: 200%;
  filter: grayscale(100%)
  

}


.contactButton {
 display: flex;
 flex-direction: row;
 justify-content: left;
 align-items: center;
 column-gap: 20px;


}


.contactButton h3{
  font-family: '';
  font-weight: 300;
  font-size: 25px;
 
 
 }

.contactBtn {
  width: 120px;
  outline: none;
  border: 1px solid #D14836;
  background-color: transparent;
  height: 30px;
  border-radius: 250px;
  font-size: 12px;
  transition: background-color 1s ease;
  opacity: 0;
}



.contactBtn:hover {
background-color:#D14836;
 color: white;
  
}

.imageBackground-2 {
    --viewport-size: calc(min(100vh, 100vw)); /* get the smaller of vh and vw */
    position: relative;
    width: calc(8 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    height: calc(8 * var(--viewport-size) / 100); /* 5% of the smaller dimension */
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;
}


.about-section-title-container{  
  display: flex;
  flex-direction: column;
    width: 120%;
    row-gap: 30px;
    justify-content: center;
    align-items: left;
    opacity: 1;
    font-family: 'LeonardoFascia';
    font-weight: 200;
    text-align: left;
    color: #1A1918;

}

.about-section-title {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animate-in {
  opacity: 1;
}


.about-section-title h2 {
  font-size: 17svh;
  line-height: 16svh;
}


.infoSectionHeadlineRow {
  display: flex;
  column-gap: 30px;
}

.secondaryTextContainer p {
  font-family: 'Satori';
  font-size: 13px;
  width: 100%;
  color: #1A1918;
  height: 10%;
 
}

.secondaryTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%

}

.line {
  height: 600px;
  width: 2px;
  background-color: #1A1918;
}

.line-2 {
  width: 100%;
  height: 1px;
  background-color: #1A1918;
}

.image-background-2 {
  width: 60px;
  height: 60px;
  background-color: #1A1918;
  border-radius: 50%;
  margin-top: 40%;
}


@media only screen and (max-width: 768px) {

  .infoSectionContainer {
    margin-top: 0%;
    padding: 3%;
  }

  .infoSectionWrapper {
    flex-direction: column;
    row-gap: 0px; /* space between the image and text sections */
  }

  .about-section-title-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .about-section-title {
    display: flex;
    flex-direction: row;

  }

  .infoSectionImageSection {
    width: 100%;
    height: 240px;
  }



  .imageBackground {
  
    width: 30px;
    height: 30px;
  }

  .about-section-title h2 {
    font-size: 310%;
    text-align: center;
    width: 100%;
    line-height: 3vh;    
  }

  .secondaryTextContainer p {
    font-size: 12px;
    text-align: justify;
    margin: 0 0px; /* some space from left and right */
  }

  .contactBtn {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }


  .line {
    display: none; /* hide vertical line on mobile */
  }

  .line-2 {
    margin: 0px 0; /* add some margin above and below the line */
    height: 0.8px;
    width: 50%;
   
  }


  .imageBackground img {
  position: absolute;
  left: -15%; 
  opacity: 55%;
  top: 75px;
  margin-top: 40%;
  width: 120%;
  height: 120%;
  filter: grayscale(100%)
  

}
}

@media only screen and (min-width: 769px) and (max-width: 1364px) {

  .infoSectionContainer {
    margin-top: 0%;
    padding: 3%;
  }

  .infoSectionWrapper {
    flex-direction: column;
    row-gap: 0px; /* space between the image and text sections */
  }

  .about-section-title-container {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .about-section-title {
    display: flex;
    flex-direction: row;

  }

  .infoSectionImageSection {
    width: 100%;
    height: 260px;
  }



  .imageBackground {
  
    width: 40px;
    height: 40px;
  }

  .about-section-title h2 {
    font-size: 520%;
    text-align: center;
    width: 100%;
    line-height: 7vh;    
  }

  .secondaryTextContainer {
    width: 70%;
  }

  .secondaryTextContainer p {
    font-size: 16px;
    text-align: justify;
    margin: 0 0px; /* some space from left and right */
  }

  .contactBtn {
    width: 140px;
    height: 25px;
    font-size: 12px;
  }


  .line {
    display: none; /* hide vertical line on mobile */
  }

  .line-2 {
    margin: 0px 0; /* add some margin above and below the line */
    height: 0.8px;
    width: 50%;
   
  }


  .imageBackground img {
  position: absolute;
  left: -15%; 
  opacity: 55%;
  top: 75px;
  margin-top: 40%;
  width: 120%;
  height: 120%;
  filter: grayscale(100%)
  

}
}




  
  
  
  
  
  
  
  
  
     
  
  
  
    
    










   



  
  