



.infoSectionContainer5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100svw;
    position: relative;
    height: auto;
    background-color: #1A1918;

  
}

.sticky-menu-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5%;
    height: 100%;
}   

.sticky-menu-title {   
    position: relative;
    display: flex;
    padding-top: 20%;
    flex-direction: column;
    align-items: center;
    font-family: 'LeonardoFascia';
    font-weight: 700;
    font-size: 7svh;
    line-height: 125px;
    color: #E0DACF;
    width: 400px;
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 50%;


}


.animate-in {
    opacity: 1;
  }
  

.color-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.divide-line {
    height: 0.7px;
    width: 0%;
    margin-left: 10%;
    position: absolute;
    background-color: #E0DACF;
}

.divide-line-container {
    height: 20%;
}

.sticky-menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 12%;
    row-gap: 10svh;
    height: 50%;
    padding-top: 12%;
    width: 50%;
}

.sticky-menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-menu-image img {
    width: 20%;
    top: 25%;
    position: absolute;
}




.people-section {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-top: 10%;
    width: 100%;
    border-top: 0.5px solid white;
    opacity: 0;
}


.people-title-section {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
    column-gap: 10%;
    width: 100%;

}

.people-title h2 {
    font-size: 5svh;
    font-family: 'LeonardoFascia';
    color: #E0DACF;
}

.people-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    row-gap: 3svh;

}

.people-name {
    width: 100%;
}

.people-name h4 {
    font-family: 'Satori';
    font-size: 1.5svh;
    font-weight: 100;
    color: #7C7975;
}


.people-num h3 {
    font-family: 'LeonardoFascia';
    font-weight: 500;
    font-size: 3svh;
    color: #E0DACF;
}


.people-image img{
    width: 70%;
    border-radius: 50%;
}

.people-image {
    width: 20%;
}



.peopleDesc p {
    font-family: 'Satori';
    font-size: 1.2svh;
    color: #E0DACF;
    width: 100%;

}

.people-name-title {
    display: flex;
    column-gap: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



@media (max-width: 768px) {
    .infoSectionContainer5 {
        /* Adjust padding, margin, etc. for the section container */
        padding: 20px;
        padding-bottom: 20%;
  
      }
    
    .sticky-menu-title h2 {
      font-family: 'LeonardoFascia';
      font-weight: 700;
      font-size: 30px;
      color: #E0DACF;
      width: 100%;  
      padding-bottom: -20px;
      padding-top: 0%;
  }
  
  .sticky-menu-title {
      position: relative;
      display: flex;
      flex-direction: column;  
      justify-content: center;
      align-items: left;
      width: 100%;
      height: 100%;
      padding-left: 5%;
  
  }
  
  .sticky-menu-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 5%;
      padding-bottom: 12%;
      padding: 5%;
      row-gap: 2svh;
      height: 50%;
      width: 100%;  
  }
  
  .flower4 {
      position: absolute;
      top: 22px;
      left: 260px;
      width: 75px;
  }
    
  
      .sticky-menu-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
      }   

      .people-image {
        width: 40%;
    }
      
      .divide-line {
        display: none;
        margin-bottom: 40%;
      
      }
    
      .people-section {
        padding: 15px 0;
      }

      .people-title {
  
        row-gap: 1svh;
    
    }
    

      .people-divide-line {
        width: 400px;
        height: 1px;
        margin-bottom: 2%;
        background-color: #E0DACF;
    }
    
      .people-title-section {
          display: flex;
          justify-content: center;
          align-items: left;
          flex-direction: column;
          row-gap: 20px;
          padding-top: 2%;
          width: 100%;  
  
      }
    
      .people-image img {
        width: 70%;
        height: auto;
      }
    
  
      .people-name h4 {
          font-family: 'Satori';
          font-size: 1.2svh;
          font-weight: 100;
          color: #7C7975;
      }
  
      .people-num h3 {
          font-family: 'LeonardoFascia';
          font-weight: 500;
          font-size: 2svh;
          color: #E0DACF;
      }
  
      .people-title h2 {
          font-size: 4svh;
          font-family: 'LeonardoFascia';
          color: #E0DACF;
      }

      .peopleDesc p {
        font-family: 'Satori';
        font-size: 1svh;
        color: #E0DACF;
        width: 100%;
    
    }
      .sticky-menu-content {
        /* Adjust any other properties necessary for the content layout */
      }
    }





    @media only screen and (min-width: 769px) and (max-width: 1365px) {
        .infoSectionContainer5 {
            /* Adjust padding, margin, etc. for the section container */
            padding: 20px;
            padding-bottom: 20%;
      
          }
        
        .sticky-menu-title h2 {
          font-family: 'LeonardoFascia';
          font-weight: 700;
          font-size: 70px;
          color: #E0DACF;
          width: 100%;  
          padding-top: 0%;
      }
      
      .sticky-menu-title {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          width: 100%;
          height: 100%;
          margin-bottom: 10%;
          padding-left: 5%;
      
      }
      
      .sticky-menu-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-top: 5%;
          padding-bottom: 12%;
          padding: 5%;
          row-gap: 2svh;
          height: 50%;
          width: 100%;  
      }
      
      .flower4 {
          position: absolute;
          top: 10px;
          left: 380px;
          width: 105px;
      }
        
      
          .sticky-menu-wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;
          }   
          
          .divide-line {
            /* Adjust the width and/or margins of your divide line */
            display: none;
            margin-bottom: 60%;
          
          }
        
          .people-section {
            /* Maybe adjust padding and margin for each person section */
            padding: 15px 0;
          }
        
          .people-title-section {
            /* Adjust layout of the title section */
              display: flex;
              justify-content: center;
              align-items: left;
              flex-direction: column;
              row-gap: 30px;
              padding-top: 6%;
              width: 500px;  
      
          }
        
          .people-image img {
            /* Make the image of each person a bit smaller */
            width: 140px;
            height: auto;
          }
        
      
          .people-name h4 {
              font-family: 'Satori';
              font-size: 1.7svh;
              font-weight: 100;
              color: #7C7975;
          }
      
          .people-num h3 {
              font-family: 'LeonardoFascia';
              font-weight: 500;
              font-size: 2svh;
              color: #E0DACF;
          }
      
          .people-title h2 {
              font-size: 60px;
              font-family: 'LeonardoFascia';
              color: #E0DACF;
          }
          .sticky-menu-content {
            /* Adjust any other properties necessary for the content layout */
          }
        }
  
  

  
  

    
    